---
interface Props {
    name: string;
    url: string;
}

const { name, url } = Astro.props;
---

<a
    href={url}
    rel="external"
    target="_blank"
    class="bg-surface1 text-primary font-bold border-b-[5px] border-solid border-accent-color rounded-[7px] m-3 p-3 transition-[background-color] duration-300 ease-in-out animate-slideIn animate-delay-200 hover:bg-surface1-semi-transparent"
>
    <img
        src={`/assets/img/tech/${name.toLowerCase()}.svg`}
        alt={name}
        title={name}
        class="w-[68px] h-[68px]"
    />

    <h3 class="text-center">{name}</h3>
</a>
