---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import { AUTHOR, ICON } from "../scripts/ssr/constants";

interface Props {
  title: string;
  description: string;
  banner: string;
  attachment?: boolean;
}

const { title, description, banner, attachment } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth h-svh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="shortcut icon" href={ICON} type="image/x-icon" />

    <meta name="author" content={AUTHOR} />
    <meta name="description" content={description} />

    <meta name="og:title" content={title} />
  </head>
  <body
    class="flex flex-col justify-start bg-primary text-primary h-svh font-montserrat overflow-auto"
  >
    <header
      class={`flex flex-col justify-center items-center z-[1] bg-image bg-cover bg-center ${attachment && "bg-fixed"} bg-no-repeat rounded-bl-3xl rounded-br-3xl pb-[100px]`}
    >
      <NavBar />

      <slot name="header" />
    </header>

    <main class="my-8 mx-[200px]">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style define:vars={{ banner }}>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  .bg-image {
    background-image: var(--banner);
  }
</style>
